@{
    ViewData["Title"] = "Tours OpenData";
}

<div class="text-center">
    <h1 class="display-4">Pages Disponibles :</h1>
    <p>Parkings Indigo: <a href="https://localhost:7160/api/parkings/indigo">/parkings/indigo</a>.</p>
</div>
